<!-- container -->
<div class="l-dash-con p-5 d-flex align-items-center">
  <div class="row w-100">
    <div class="offset-md-3 col-md-6 border rounded px-0">
      <div class="text-center border-bottom py-2">      
        {{actionType == "SIGNUP" ? "Sign Up" : "Login"}}
      </div>        
      <form [formGroup]="formGroup" class="px-5 py-2">
        <ng-container *ngIf="actionType == 'SIGNUP'">
          <!-- first name -->
          <div class="my-2">
            <span class="fnt-3">
              First Name
            </span>
            <input formControlName="FirstName" class="d-block w-100" placeholder="first name">
          </div>    
          <!-- Last name -->
          <div class="mb-2">
            <span class="fnt-3">
              Last Name
            </span>
            <input formControlName="LastName" class="d-block w-100" placeholder="last name">
          </div>  

        </ng-container>
        <!-- Username -->
        <div class="mb-2">
          <span class="fnt-3">
            Username
          </span>
          <input formControlName="Username" class="d-block w-100" placeholder="username">
        </div>  

        <!-- password -->
        <div class="mb-2">
          <span class="fnt-3">
            Password
          </span>
          <input formControlName="Password" type="password" class="d-block w-100" placeholder="password">
        </div>  
        
        <div class="mt-3">
          <!-- Submit Button -->
          <button 
           mat-button
           class="w-100 btn-login"
           (click)="onSubmitClick()">
           {{actionType == "SIGNUP" ? "Sign Up" : "Login"}}
          </button>   
          <div class="text-center my-2 fnt-3 fw-bold">
            OR
          </div>
          <!-- Submit Button -->
          <button 
           mat-button
           class="w-100 btn-login"
           (click)="onChangeActionTypeClick()">
           {{actionType == "LOGIN" ? "Sign Up" : "Login"}}
          </button>  
        </div>
      </form>      
    </div>
  </div>
</div>